<!DOCTYPE html>
<html lang="en">

<!-- Template from http://startbootstrap.com/templates/grayscale/ -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- EDIT ME -->
    <title>My Portfolio</title>

    <!-- Bootstrap Core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom Theme CSS -->
    <link href="static/css/grayscale.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
                    < Live Life >
                    <i class="fa fa-play-circle"></i>  <span class="light">My</span> Portfolio
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <!-- EDIT ME -->
                        <a href="#about">About Me</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#my_work">My Work</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!-- EDIT ME -->
                        <h1 class="brand-heading">Berkeley SUCCESS</h1>
                        <!-- EDIT ME -->
                        <p class="intro-text">"Ultimately, man should not ask what the meaning of his life is, but rather recognize that it is he who is asked. In a word, each man is questioned in life; and he can only answer to life by answering for his own life; to life he can only respond by being responsible." -Victor Frankl</p>
                        <div class="page-scroll">
                            <a href="#about" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- EDIT ME -->
                <h2>Who We Are</h2>
                <p>We are a network of student, across many disciplines, that are united in our commitment to achieve excellence through conscious action in our lives. WE CREATE OUR REALITY! </p>
                <p>We believe in taking responsibility for our lives by a commitment to being conscious of our thoughts, words and actions. </p>
                <p> We place a high value on integrity, with ourselves and with others.</p> 
                <p>We value the the journey on which we embark each time that we set our sights on an honest, quantifiable and realistic goal. We know that this noblest of journeys affords each of us the opportunity to learn, to adapt, and to overcome adversity on the road to triumph.</p>
                <p>We value each other. We are committed to helping our brothers and sisters realize their potential and their dreams. </p>
                <p>We will live out who we are through the practices of honesty, openness, and service to each other and to our communities. We believe that this adds value to our lives, and by living out our true values, exemplifies success in the purest form.</p>
            </div>
        </div>
    </section>

    <section id="my_work" class="content-section text-center">
        <div class="my_work-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- EDIT ME -->
                    <h2>What We Do</h2>
                    <p>We bring together ambitious individuals and help them create a clear vision of their future.</p>
                    <p>We utilize a process developed through research of hundreds of years of personal leadership texts toward goal accomplishment. This process includes self-realization, vision, records, sharing, working, and creating reality!</p>
                    <p>We provide a network of social support that is committed to helping you overcome the inevitable physical and emotional challenges that are a prerequisite to growth and success.</p>
                    <p>We offer a professional network of individuals in many industries that are interested in helping those who make a consistent effort to self-improvement</p>
                    <p>We offer an opportunity to interact with a diverse group of individuals with different majors and disciplines, that is conducive to collaboration from business ventures to community service.</p>
                    <p>We create an experience in accomplishment that can be taken and utilized throughout life!</p>
                    <p>
                    <a href="http://www.youtube.com/watch?v=J1mGWhLwu64" class="btn btn-default btn-lg">View My Work</a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- EDIT ME -->
                <h2>Contact Me</h2>
                <p>Feel free to email me to ask questions, provide suggestions for improving my website, collaboration on ideas that you may have, or to just say hello!</p>
                <p>blakeleyjr@berkeley.edu</p>
                <ul class="list-inline banner-social-buttons">
                    <!-- EDIT ME -->
                    <li><a href="https://twitter.com/BarbraStreisand" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <!-- EDIT ME -->
                    <li><a href="https://github.com/pftp" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <!-- EDIT ME (OR REMOVE ME LOL) -->
                    <li><a href="https://www.google.com/#q=does+anyone+actually+use+google%2B" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/js/grayscale.js"></script>

</body>

</html>
